<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css'>
  </head>
  <body>
    <h1>Welcome to ingredient</h1>
    <div class="container">
      <form method="POST">

        <div class="form-group">
          <label for="name">ingredient Name</label>
          <input type="text" name="ingName" class="form-control" id="name" placeholder="Enter ingredient's name">
        </div>

      <div class="form-group">
        <label for="weight">ingredient pack weight</label>
        <input type="number" step="0.01" min="0" name="ingWeight" class="form-control" id="weight" placeholder="Enter weight">
      </div>

      <div class="form-group">
        <label for="price">Price per pack</label>
        <input type="number" step="0.01" min="0" name="ingPrice" class="form-control" id="price" placeholder="Enter price">
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/jQuery/jquery-3.4.1.js"></script>
  </body>
</html>
