<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css'>
    <title></title>
  </head>
  <body>
    <h1>Welcome to ingredients</h1>
    <div class="container">
      <table class="table table-boreded" style="border: 1px solid black">
        <tr>
            <td>Name</td>
            <td>Weight</td>
            <td>Price</td>
        </tr>
        <% ingredients.forEach(ingredient  => {  %>
            <tr>
                <td><%= ingredient.name%></td>
                <td><%= ingredient.weight%></td>
                <td><%= ingredient.price%></td>
            </tr>
        <% }) %>
    </table>
  </div>
  </body>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/jQuery/jquery-3.4.1.js"></script>
</html>
