<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css'>
  </head>
  <body>
    <h1>Welcome to Recipes</h1>
    <div class="container">
      <form method="POST" action="/ingrediants/add">

        <div class="form-group">
          <label for="name">Recipe Name</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Enter ingrediant's name">
        </div>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/jQuery/jquery-3.4.1.js"></script>
  </body>
</html>
